/* Universal Styles */
:root {
  box-sizing: border-box;
}

* {
  font-size: 62.5%;
  border-radius: 0.5rem;
}

html {
  background-image: url(/background.jpg);
  background-size: 180vh;
  background-repeat: repeat;
}

button {
  text-transform: uppercase;
  width: 10vw;
  background: #84d761;
}

h1 {
  font-size: 3rem;
}

main {
  height: 60%;
}

/* Header Styles */

header {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

header p:hover + header p:last-child {
  display: block;
}
header p:last-child {
  display: none;
}

header h1 {
  margin: 2.5rem 2.5rem 0;
}

header p {
  flex-direction: column;
  margin: 1rem 2.5rem;
}
/* Body Styles */

body {
  margin: 10rem auto;
  width: 50%;
  border: 1px solid black;
  background-color: rgba(155, 179, 197, 0.7);
  box-shadow: 2px 2px 2px grey;
}

/* Form Styles */

form {
  padding: 0 2rem;
}

form fieldset {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
}

form input {
  width: 100%;
}

form fieldset:nth-child(6) input {
  width: 100%;
  height: 6vh;
}

fieldset:last-child {
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
