/* Universal Styles */
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0 12rem;
}
html {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("background.jpg");
  background-position: top;
}

.header__main {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

.header__main--logo {
  width: 25rem;
}

.header__main--heading {
  font-size: 4rem;
  text-transform: uppercase;
}

.form__content {
  display: flex;
  flex-direction: column;
  border: 0px solid inherit;
  border-bottom: 2px solid black;
}
.form__content--field {
  border: 0px solid;
  padding: 2rem;
  color: #fff;
  font-size: 3rem;
}

.form__content--input {
  margin: 1rem 0;
  display: block;
  width: 60%;
  height: 3rem;
  border-radius: 0.5rem;
}

.form__radio {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.radio__label {
  margin: 0 2rem;
}
.radio__button {
  margin: 0 2rem;
}

.btn {
  color: #fff;
  background-color: #0cc00c;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
}

.btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.radio__button {
  width: 3rem;
  height: 3rem;
}

.footer__main {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  margin: 2rem 0;
}

.footer__main--heading {
  margin: 0 14rem;
}

@media screen and (max-device-width: 800px) {
  html {
    background-size: cover;
  }
  body {
    margin: 3rem;
  }
  .form__content {
  }
  .form__content--field {
    font-size: 4rem;
  }
  .footer__main {
    font-size: 2rem;
    color: #fff;
    position: relative;
    z-index: -1;
  }
}

@media screen and (max-height: 800px) {
  html {
    background-size: 220vh;
  }
}

@media screen and (min-height: 1200) {
 .form__content--input: width: 30%;
}
